@font-face {
    font-family: 'Sony Sketch';
    src: url('../fonts/Sony_Sketch_EF.ttf');
}

body{
    background-size:contain;
    background: url("../images/concrete.jpg") repeat center;
}

.navbar-wrapper ul{
    display: inline-block;
}

.container-wrapper {
    height:80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 300px;
}

.home-image {
    display: block;
    width: 100%; !important;
    height: auto; !important;
}

.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: whitesmoke;

    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noDisplay{
    display: none;
}

.login-box {
    text-align: center;
}

.login-container {
    width: 40%;
    margin: 100px auto auto;
}

.logo-on-carousel{
    margin: 0 auto;
    position: absolute;
    z-index: 9999;
    left: 44%;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
    opacity: 0.8;
}

.menu-item{
    float: left;
    list-style: none;
    width: 50%;
    font-family: "Neuropol Nova";
}
.menu-item img{
    width: 90%;
}

.menu-item a{
    text-decoration: none;
}

.menu-item-text{
    font-family: Sony Sketch;
    font-size: 1.7em;
    color: #c9cbc8;
    display: block;
    width: 287px;
    height: 116px;
    padding-top: 12px;
    opacity: 0.8;
}

.right-header-menu{
    margin-right: 13%;
}
.right-header-menu  .menu-item-text{
    padding-left: 23px;
    background: url('../images/aski.png');
}

.left-header-menu{
    margin-left: 10%;
}
.left-header-menu .menu-item-text{
    padding-left: 56px;
    background: url('../images/aski.png');
}

#header-row{
    z-index: 999;
    position: absolute;
    float: left;
    margin-top: -145px;
}
.social-media-item{
    width: 60px;
    height: 60px;
    display:block;
    margin-left: 20px;
    float: left;
    margin-top: 38px;
    cursor: pointer;
}

.social-media-container{
    margin-left: 17%;
}

#facebook{
    background: url('../images/facebook.png');
}

#twitter{
    background: url('../images/twitter.png');
}

#instagram{
    background: url('../images/instagram.png');
}

.new-product-stamp {
    width: 150px;
    height: 150px;
    display: block;
    background: url('../images/damga.png');
    margin: 0 auto;
}

.productContainer img{
    transition:all 1s ease-out;
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}
.productContainer img:hover {
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}

.rope-menu-base{
    background: url('../images/halat.png');
    display: block;
    width: 151px;
    height: 647px;
}
